/* Header */
#header {
	position: relative;
    background-color: white;
}

#header img#onTourLogo {
	max-width: 10em;
	max-height: 12em;
	margin-bottom: 10px;
	margin-bottom: 10px;
    margin-top: 10px;
    position: -1;
    align-content: center;
}

#header img#minesLogo {
	float: right;	
	max-width: 8em;
	max-height: 8em;
	bottom: 0;
    top: 10px;
	right: 0;
	margin-bottom: 10px;
	display: block;
    position: -1;
}

#title {
	position: relative;
    color: red;
    align-content: center;
    display: none;
}


/*Title bar style*/

.nav-bar .current {
    background-color: aliceblue;
}

.nav-bar {
	overflow: hidden;
	background-color: #00CE49;
    align-content: center;
}

.nav-bar a {
	display: inline-block;
	color: black;
	padding: 12px 16px;

	margin: 5px;
	margin-right: 5px;
	border-radius: 5px;
	text-decoration: none;
}

/* Dropdown */

.dropdown {
	overflow: hidden;
	float: left;
}

.dropdown .dropbtn {
	display: inline-block;
	color: black;
	padding: 12px 16px;

	margin: 5px;
	margin-right: 5px;
	border-radius: 5px;
	text-decoration: none;
}

.nav-bar a:hover {
	background-color: #263F6A;
	color: #00CE49;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #00CE49;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(1,1,1,0.8);
	z-index: 1;
	border-radius: 5px;
	text-decoration: none;
}

.dropdown-content a{
	color: black;
	padding: 12px 16px;
	display: block;
	text-align: center;
	border-radius: 5px;
}

.dropdown-content a:hover{
	background-color: #263F6A;
	color: #00CE49;
}

.dropdown:hover .dropdown-content{
	display: block;
}


/* When the size changes */
/* Media */
@media screen and (max-width: 1000px) {
  
  .header, .nav-bar a, .nav-bar dropdown {
    float: none;
    width: calc(100% - 45px);
  }
  
   .dropdown, .dropdown2, .dropdown3 {
    float: none;
    width: 100%;
  }
}