/* smaller buttons for internal pages */
.class-buttons#internal {
	position: absolute;
	right: 12%;
    top: 25%;
	font-size: 0.5em;
}

.class-buttons#internal button {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin: 0px 5px;
	font-weight: normal;
	font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
}

/* larger buttons for homepage */
.class-buttons#homepage, .class-buttons#register  {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.class-buttons#homepage button, .class-buttons#register button {
	width: 150px;
	height: 150px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;
	margin: 10px 10px;
}

/* Default styles regardless of size of buttons */
.class-buttons button {
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-family: Sans-Serif;
	color: white;
	border: none;
	font-weight: bold;
	font-size: 1.1em;
}
.class-buttons button:hover {
	cursor: pointer;
}
.class-buttons {
	margin: auto;
	display: block;
}

.class-buttons#register button {
	background-color: #1abc9c;
	font-size: 1em;
}

/* Colors */
.class-buttons > button#high-school {
	background-color: #3498db;
}
.class-buttons > button#high-school:hover {
	background-color: #263F6A;
}
.class-buttons > button#middle-school {
	background-color: #00CE49;
}
.class-buttons > button#middle-school:hover {
	background-color: #006400;
}
.class-buttons > button#elementary-school {
	background-color: #263F6A;
}
.class-buttons > button#elementary-school:hover {
	background-color: #3498db;
}

